<div
  class="container row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3"
>
  <div *ngFor="let x of touristDestinations">
    <!--  -->
    <div>
      <div class="card my-card my-3">
        <img src="{{ x.img }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ x.name }}</h5>
          <h6 class="card-title">
            <i class="fa-solid fa-location-dot"></i> {{ x.city }}
          </h6>
          <p class="card-text">{{ x.description }}</p>
          <div class="d-flex">
            <p class="me-5">Nights: {{ x.nights }}</p>
            <h6>Price: {{ x.price }}</h6>
          </div>
          <a href="#" class="btn btn-info">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>
